@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* FONTS
font-family: 'Ubuntu', sans-serif;
font-family: 'Grechen Fuemen', cursive;
*/

/* COLORS
    #11324D
    #6B7AA1
    #C1CFC0
    #E7E0C9
*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
}
body{
    height: 800px;
    background: #E7E0C9;
}
.container, .footer {
    /* background: #11324d; */
    background-color: rgba(17,50,77,0.8);
    width: 100%;
    color: #fafafa;
}
.container {
    border: 1px solid orangered;
}
img{
    border: 1px solid greenyellow;
    width: 100%;
    position: absolute;
    z-index: -1; 
}

/* HEADER */
.header {
    text-align: center;
}
.header .title{
    font-family: 'Grechen Fuemen', cursive;
    font-size: 50px;
    text-transform: capitalize;
    padding: 10px;
}
.navbar {
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}
.navbar a {
    flex: 1 0 auto;
    text-align: center;
    padding: 15px;
    transition: background 0.75s ease;
    color: #fafafa;
}
.navbar a:hover {
    background: #6B7AA1;
}


/* FOOTER */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
}
.footer ul{
    display: inline-flex;
}
.footer ul li{
    padding: 10px auto;
    margin: 10px;
}
.footer .icon:hover{
    color: #bdc0c7;
}
.footer p{
    font-size: 8px;
    padding-bottom: 10px;
}

